
@media (max-width: 992px) {
    
    .navbar-brand {
        height: 50% !important;
    }

    .main {
        grid-template-rows: 6% 30% 14% 6% 45%;
    }
    .bottom {
        font-size: 100%;
    }
    
    .fotoprincipal {
        max-width: 100%;
        
    }

    .fotoprincipal__img {
        width: 100%;
        height: 95%;
    }
    
    
    .forms__titles {
        margin-bottom: 3%;
        font-size: 120%;
    }
    

    .submit_reset {
        font-size: 100%;
        
    }

    .submit_resett {
        font-size: 100%;
    }

    .destacadas__title {
        font-size: 50%;
    }
    
    .uno__img {
        width: 200px;
        height: 200px;
    }
    
    .dos__img {
        width: 200px;
        height: 200px;
    }
    .tres__img {
        width: 200px;
        height: 200px;
    }
    .cuatro__img {
        width: 200px;
        height: 200px;
    }
    
    .props__img {
        max-height: 300px !important;
        
    }

    .props__text {
        font-size: 80%;
    }

    .props__iframe {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mision {
        font-size: 80%;
        width: 95%;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .mision__title {
        font-size: medium;
    }
    
    .horarios {
        display: flex;
        flex-direction: column;
        border-collapse: collapse;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .img__img {
        width: 150px;
        height: 150px;
    }

    .general {
        max-width: 100%;
        max-height: 100%;
    }
    .row {
        grid-template-rows: 5% 5% 5% 5% 5%;
        grid-template-columns: 10% 10%;
    }

}

@media (max-width: 768px) {
    
    .navbar-brand {
        height: 50% !important;
    }
    
    .main {
        grid-template-rows: 6% 22% 30% 4% 38%;
    }
    .bottom {
        font-size: 90%;
    }
    
    .fotoprincipal {
        max-width: 100%;
        
    }

    .fotoprincipal__img {
        width: 100%;
        height: 85%;
    }
    
    .forms {
        flex-direction: column;
        justify-content: center;
        font-size: 80%;
    }
    
    .forms__titles {
        margin-bottom: 3%;
        font-size: 130%;
    }
    
    .precio__desde {
        width: 10%;
    }
    
    .precio__hasta {
        width: 10%;
    }

    .submit_reset {
        font-size: 100%;
        
    }

    .submit_resett {
        font-size: 100%;
    }

    .destacadas__title {
        font-size: 65%;
    }
    
    .uno__img {
        width: 180px;
        height: 180px;
    }
    
    .dos__img {
        width: 180px;
        height: 180px;
    }
    .tres__img {
        width: 180px;
        height: 180px;
    }
    .cuatro__img {
        width: 180px;
        height: 180px;
    }
    
    .footer {
        grid-template-rows: 27% 16% 17% 35% 3%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "titulo titulo"
            "fb1 fb2"
            "fb3 fb4"
            "redes redes"
            "volver volver";
        height: auto;
        align-items: center;
        justify-items: center;
    }

    .footer__redes{
        grid-area: titulo;
        width: 100%;
        margin-right: 25% ;
        margin-top: 2%;
    }

    .redes__redes {
        justify-content: center ;
        width: 100%;
    }

    .redes__img {
        width: 85%;
        height: 85%;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .props__img {
        width: 250px;
        height: 150px;
        padding-top: 5%;
    }

    .props__text {
        font-size: 80%;
    }

    .props__iframe {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mision {
        font-size: 80%;
        width: 95%;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .mision__title {
        font-size: medium;
    }
    
    .horarios {
        display: flex;
        flex-direction: column;
        border-collapse: collapse;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .img__img {
        width: 150px;
        height: 150px;
    }

    .general {
        max-width: 100%;
        max-height: 100%;
    }
    .row {
        grid-template-rows: 5% 5% 5% 5% 5%;
        grid-template-columns: 10% 10%;
    }
}    

@media (max-width: 600px) {
    

    .destacadas__title {
        font-size: 80%;
    }
    
    .uno__img {
        width: 140px;
        height: 140px;
    }
    
    .dos__img {
        width: 140px;
        height: 140px;
    }
    .tres__img {
        width: 140px;
        height: 140px;
    }
    .cuatro__img {
        width: 140px;
        height: 140px;
    }
    
    .footer__redes{
        grid-area: titulo;
        width: 100%;
        margin-right: 20%;
        margin-top: 2%;
    }
}

    @media (max-width: 360px) {
    
        .main {
            grid-template-rows: 3% 15% 38% 4% 45%;
        }
        .bottom {
            font-size: 90%;
        }
        
        .fotoprincipal {
            max-width: 100%;
            
        }
    
        .fotoprincipal__img {
            width: 100%;
            height: 85%;
        }
    
        .forms {
            flex-direction: column;
            justify-content: flex-start;
            font-size: 80%;
        }
        
        .forms__titles {
            margin-bottom: 3%;
            font-size: 130%;
        }
        
        .precio__desde {
            width: 50%;
        }
        
        .precio__hasta {
            width: 50%;
        }
    
        .submit_reset {
            width: 30%;
        }
    
        .submit_resett {
            width: 40%;
        }
    
        .destacadas__title {
            font-size: 80%;
        }
        
        .uno__img {
            width: 100px;
            height: 100px;
        }
        
        .dos__img {
            width: 100px;
            height: 100px;
        }
        .tres__img {
            width: 100px;
            height: 100px;
        }
        .cuatro__img {
            width: 100px;
            height: 100px;
        }
        
        .footer {
            grid-template-rows: 27% 16% 17% 35% 1%;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
                "titulo titulo"
                "fb1 fb2"
                "fb3 fb4"
                "redes redes"
                "volver volver";
            height: auto;
            align-items: center;
            justify-items: center;
        }
    
        .footer__redes{
            grid-area: titulo;
            width: 100%;
            margin-right: 3%;
            margin-top: 2%;
        }
    
        .redes__redes {
            justify-content: center ;
            width: 100%;
        }
    
        .redes__img {
            width: 90%;
            height: 90%;
        }
    
        .redes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        .props__img {
            width: 250px;
            height: 150px;
            padding-top: 5%;
        }
    
        .props__text {
            font-size: 80%;
        }
    
        .props__iframe {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    
        .mision {
            font-size: 80%;
            width: 95%;
            margin-top: 1%;
            margin-left: 1%;
            margin-right: 1%;
        }
        
        .mision__title {
            font-size: medium;
        }
        
        .horarios {
            display: flex;
            flex-direction: column;
            border-collapse: collapse;
            margin-bottom: 0%;
            margin-left: 0%;
            margin-right: 0%;
        }
    
        .img__img {
            width: 150px;
            height: 150px;
        }
    
        .general {
            max-width: 100%;
            max-height: 100%;
        }
        .row {
            grid-template-rows: 5% 5% 5% 5% 5%;
            grid-template-columns: 10% 10%;
        }
    }